*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    cursor: default;
    width:100%;

    background-color: var(--primary-color);
    color: var(--text-color);
}

.main-layout {
    display: grid;
    grid-template-columns:
        minmax(6.25em, 1fr) minmax(1fr, 62.5em) minmax(6.25em, 1fr);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4.5vh;

    background-color: var(--header-color);

    text-shadow: 1px 1px 5px rgb(0 0 0 / 0.4);
}

.main-logo {
    margin-inline-start: 0.625em;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 0.4);
    font-size: 1.5em;
}

.nav-links {
    display: flex;
    gap: 1em;

    margin-inline-end: 1em;

    cursor: pointer;
}

.nav-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    max-height: 70px;
    width: 50px;

    line-height: 1em;
    
    transition: font-size .3s;
}

.nav-link:hover {
    font-size: 1.1em
}

/* GALLERY */

.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5.5vh;

    background-color: var(--secondary-header-color);
}

.frequent-keywords {
    display: flex;
    gap: 20px;
    margin-inline-end: 20px;
}

.search-input {
    position: relative;

    width: 200px;
    height: 1.5em;
    margin: 10px;

    background: none;
    border: none;

    color: var(--text-color);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.search-input:focus-visible {
    outline: none;

    border-bottom: 1px solid var(--text-color);
    transition: border 1s;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus-visible,
.search-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 40px var(--secondary-header-color) inset;
    -webkit-text-fill-color: var(--text-color);
}

.input-search-icon {
    position: absolute;
    width: 20px;
    left: 190px;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    min-height: 55vh;

    margin-inline:10px;
    margin-block:10px;
}

.meme-img {
    object-fit: cover;
    height: 120px;

    border-radius: 10px;
}

.meme-img:hover {
    scale: 1.05;
    cursor: pointer;
}


.gallery-footer {
    height: 20vh;
    max-height: 400px;
    background-color: var(--secondary-header-color);
}

/* Meme-Edit */


.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 55vh;
    width:60vw;

    padding: 20px;
    background-color: var(--secondary-header-color);
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--header-color);
    height: 15vh;
}

footer .logo {
    text-shadow: 1px 1px 5px rgb(0 0 0 / 0.4);
    font-size: 1.5em;
}

footer p {
    margin-block: 10px;
    font-family: 'Montserrat';
    font-weight: 250;
    font-size: 1.188em;
}