*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    cursor: default;
    max-width: 100vw;

    margin: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.main-nav {
    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4.5vh;

    background-color: var(--header-color);

    text-shadow: 1px 1px 5px rgb(0 0 0 / 0.4);

    z-index: 5;
}

.main-logo {

    margin-inline-start: 0.625em;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 0.4);
    font-size: 1.5em;
}

.nav-links {
    display: flex;
    gap: 1em;

    margin-inline-end: 1em;

    cursor: pointer;
}

.nav-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    max-height: 70px;
    width: 50px;

    line-height: 1em;

    transition: font-size .3s;
}

.nav-link:hover {
    font-size: 1.1em
}

/* GALLERY */

.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 5.5vh;

    background-color: var(--secondary-header-color);
}

.frequent-keywords {
    display: flex;
    gap: 20px;
    margin-inline-end: 20px;
}

.search-input {
    position: relative;

    width: 200px;
    height: 1.5em;
    margin: 10px;

    background: none;
    border: none;

    color: var(--text-color);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.search-input:focus-visible {
    outline: none;

    border-bottom: 1px solid var(--text-color);
    transition: border 1s;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus-visible,
.search-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 40px var(--secondary-header-color) inset;
    -webkit-text-fill-color: var(--text-color);
}

.input-search-icon {
    position: absolute;
    width: 20px;
    left: 190px;
}

.btn-flexible {
    font-family: inherit;
    font-weight: 500;
    width: 100px;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    min-height: 50vh;
    height: 100%;
    max-height: calc(100vh - 10.5vh - 18.5vh - 18.5vh);
    overflow-y: auto;
    overflow-x: hidden;

    margin-inline: 10px;
    margin-block: 10px;

}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(128 128 128 / 0.3);
    background-color: var(--secondary-header-color);
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(160 160 160 / 0.3);
}

.meme-img {
    object-fit: cover;
    height: 120px;

    border-radius: 10px;

    transition: .2s;

}

.meme-img:hover {
    scale: 1.1;
    cursor: pointer;
}


.gallery-footer {
    position: fixed;
    bottom: 15vh;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 18.5vh;
    max-height: 400px;
    background-color: var(--secondary-header-color);
}

.profile-pic {
    border: 2px solid black;
    width: 120px;
    border-radius: 30%;


    box-shadow: 1px 1px 5px black
}

.profile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 50%;
    max-height: 15vh;

    margin-inline: 30px;

    text-shadow: 1px 1px 2px black;
}


.profile-text-container h5 {
    margin: 0;
}

.profile-links-container {
    margin-block: 20px;
}

.fa-brands {
    color: var(--header-color);
    margin-inline: 5px;
}

.social-link {
    text-decoration: none;
}

/* Meme-Edit */

.meme-editor {
    position: relative;
    height: 80.5vh
}

.canvas-container {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 40vh;

    padding: 20px;
}

canvas:focus {
    outline: none;
}

.meme-edit-container {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 40vh;

    min-width: 40vw;
    max-width: 50vw;

    background-color: var(--secondary-header-color);

    border-radius: 20px;
    margin-inline: 20px;
}

.line-text {
    height: 2em;
    margin-block-end: 5px;

    border-radius: 5px;
}

input[type='color'] {
    width: 27px;
    border-radius: 8px;

    margin: 5px;

    box-shadow: 1px 1px 3px black;
}

.btn-font-size {
    width: 25px;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--header-color);
    height: 15vh;

}

footer .logo {
    text-shadow: 1px 1px 5px rgb(0 0 0 / 0.4);
    font-size: 1.5em;
}

footer p {
    margin-block: 10px;
    font-family: 'Montserrat';
    font-weight: 250;
    font-size: 1.188em;
}

/* MISC */

.btn {
    padding: 5px;
    margin: 5px;

    border: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}