@media (max-width:950px) {

    .main-nav {
        position: sticky;
    }

    .images-container {
        padding: 1.5em;
    }

    .search-input {
        position: relative;

        width: 130px;
        height: 1.5em;
        margin: 10px;
    }

    .input-search-icon {
        position: absolute;
        width: 20px;
        left: 125px;
    }

    .meme-img {
        height: 130px;
    }

    .gallery-header-secondary {
        display: flex;
    }

    .frequent-keywords.desktop {
        display: none;
    }

    .frequent-keywords.mobile {
        gap: 10px;
        margin: auto;
    }

    .canvas-container {
        position: absolute;
        top: 30%;
        left: 50%;
        translate: -50% -50%;
        min-height: 20vh;
        height: 80px;
        padding: 20px;
    }

    .meme-edit-container {
        position: absolute;
        top: 80%;
        left: 50%;
        translate: -50% -50%;


        min-height: 25vh;
        min-width: 300px;
        max-width: 60vw;
        margin-inline: auto;
        padding-inline: 0;
    }

    footer {
        position: fixed;
    }
}