@media (max-width:950px) {

    .main-layout {
        display: grid;
    }

    .header {
        position: fixed;
    }

    .main-nav {
        position: sticky;
    }

    .search-input {
        position: relative;
    
        width: 130px;
        height: 1.5em;
        margin: 10px;

    }

    .input-search-icon {
        position: absolute;
        width: 20px;
        left: 125px;
    }

    .frequent-keywords {
        gap:10px;
    }

    .canvas-container {
        position: relative;
        margin-inline: auto;
        top: 28vh;
        min-height: 20vh;

        padding: 20px;
    }

    .meme-edit-container {
        position: relative;
        top: 20vh;
        margin: auto;

        min-height: 40vh;
        min-width: 100vw;
    }

    footer {
        position: fixed;

    }
}