@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-color: #00ADB5;
    --primary-color: #3b3b3b;
    --secondary-header-color: #2B2B2B;
    --text-color: #E7F6FF;
}